# This is a basic workflow to help you get started with Actions

name: Autobuild Plugin

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 15
        kotlin-version:  1.4.10
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - run: ./gradlew build
    - uses: actions/upload-artifact@v2
      with:
        name: Package.orion.lib.
        path: build/libs
